.header{
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: #2f2f37;
  width: 93%;
}

.headerItem{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 10px;
  column-gap: 10px;
}
.headerLogo{
  margin-left: 150px;
  margin-right: 400px;
}

.headerText{
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: rgb(133, 133, 173)
}